.app{
    display: grid;
    place-items: center;
    background-color: #dadbd3;
    height: 100vh;
}

.banner{
    height: 17.5vh;
    width: 100vw;
    position: absolute;
    top: 0;
    background-color: gray;
}

.app_body{
    display: flex;
    background-color: #ededed;
    position: absolute;
    top: 2.5vh;
    left: 4.5vw;
    height: 90vh;
    width: 91vw;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.7);
}